<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @shop_calendar.shop %>
</p>

<p>
  <strong>Stylist:</strong>
  <%= @shop_calendar.stylist %>
</p>

<p>
  <strong>Slot start:</strong>
  <%= @shop_calendar.slot_start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @shop_calendar.duration %>
</p>

<p>
  <strong>Slot end:</strong>
  <%= @shop_calendar.slot_end %>
</p>

<p>
  <strong>Available:</strong>
  <%= @shop_calendar.available %>
</p>

<%= link_to 'Edit', edit_shop_calendar_path(@shop_calendar) %> |
<%= link_to 'Back', shop_calendars_path %>
