<p id="notice"><%= notice %></p>

<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact no</th>
      <th>Alt contact no</th>
      <th>Email</th>
      <th>Website</th>
      <th>Image url</th>
      <th>Logo url</th>
      <th>Theme</th>
      <th>Main branch</th>
      <th>Status</th>
      <th>Hair dresser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td><%= shop.contact_no %></td>
        <td><%= shop.alt_contact_no %></td>
        <td><%= shop.email %></td>
        <td><%= shop.website %></td>
        <td><%= shop.image_url %></td>
        <td><%= shop.logo_url %></td>
        <td><%= shop.theme %></td>
        <td><%= shop.main_branch %></td>
        <td><%= shop.status %></td>
        <td><%= shop.hair_dresser %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
