<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "day_book" %>
</head>
<body>
<!--Hardcoded url that might need to be changed if /bookings/new changes-->
<a id="url" href="/bookings/new"></a>
<div class="messagepop pop"></div>
<div id="calendar">
  <!--column loop-->
  <div id="time_column">
    <div class="time_title">Time</div>
    <div class="time_spacer"></div>
  <% @slot_times.each do |slot_time|
      %><div class="time_label"><%= slot_time %></div>
    <% end %>
  </div>
  <!--Get each stylist name as a heading-->
  <% @DayBook.stylistdays.each do |stylistday| %>
  <div class="column">
    <div class="stylist" data-stylist-id="<%=stylistday.stylist_id %>"><%=stylistday.name%>
      <%= image_tag(stylistday.image_url) %>
    </div>
    <% stylistday.dayslots.each do |slot| %>
    <% if slot.slot_type == "Booked" then %>
        <div class="slot" style="height: <%= slot.duration/4.40 %>%;">
          <%= slot.client_name %><br/>
          <%= slot.client_contact_no %><br/>
          <%= slot.service_name %>
        </div>
      <% else %>
        <div class="slot available" style="height: <%= slot.duration/4.40 %>%;">available</div>
    <% end %>
    <% end %>
  </div>
   <% end %>
</div>
</body>
</html>
