<!DOCTYPE html>
<html>
<head>
  <script>
    $(document).ready(function() {
      var selected_bool = false;
      function deselect(e) {
        $('.pop').slideFadeToggle(function() {
          e.removeClass('selected');
        });
      }

      $(function() {
        $('.slot').on('click', function() {
          if(($(this).hasClass('selected')) && (selected_bool)) {
            deselect($(this));
            selected_bool = false;
          } else if (!selected_bool) {
            selected_bool = true;
            $(this).addClass('selected');
            $('.pop').slideFadeToggle();
          }
          return false;
        });
      });

      $.fn.slideFadeToggle = function(easing, callback) {
        return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
      };
    });
  </script>
  <%= stylesheet_link_tag "day_book" %>
</head>
<body>
<h2>Dagboek <%= @DayBook.name + " " + @DayBook.stylistdays.size.to_s + " slots " + @DayBook.stylistdays[1].dayslots.size.to_s%></h2>
<div class="messagepop pop">
</div>
<div id="calendar">
  <!--column loop-->
  <div id="time_column">
    <div class="time_title">Time</div>
  <% @slot_times.each do |slot_time|
      %><div class="time_label"><%= slot_time %></div>
    <% end %>
  </div>
  <!--Get each stylist name as a heading-->
  <% @DayBook.stylistdays.each do |stylistday| %>
  <div class="column">
    <div class="stylist"><%=stylistday.name%></div>
    <% stylistday.dayslots.each do |slot| %>
    <% if slot.slot_type == "Booked" then %>
        <div class="slot" style="height: <%= slot.duration/4.40 %>%;">1</div>
      <% else %>
        <div class="slot available" style="height: <%= slot.duration/4.40 %>%;">1</div>
    <% end %>
    <% end %>
  </div>
   <% end %>
</div>
</body>
</html>
