<!DOCTYPE=html>
<html>
<head>
  <%= stylesheet_link_tag "day_book" %>
</head>
<body>
<h2>Dagboek <%= @DayBook.name + " " + @DayBook.stylistdays.size.to_s %></h2>
<h3>Stylist 0 <%= @DayBook.stylistdays[0].name %> and has <%= @DayBook.stylistdays[0].dayslots.size %> entries</h3>
<h3>Stylist 1 <%= @DayBook.stylistdays[1].name %> and has <%= @DayBook.stylistdays[1].dayslots.size %> entries</h3>
<h3>Stylist 2 <%= @DayBook.stylistdays[2].name %> and has <%= @DayBook.stylistdays[2].dayslots.size %> entries</h3>
<h3>Stylist 3 <%= @DayBook.stylistdays[3].name %> and has <%= @DayBook.stylistdays[3].dayslots.size %> entries</h3>
<h3>Stylist 4 <%= @DayBook.stylistdays[4].name %> and has <%= @DayBook.stylistdays[4].dayslots.size %> entries</h3>
<h3>Stylist 5 <%= @DayBook.stylistdays[5].name %> and has <%= @DayBook.stylistdays[5].dayslots.size %> entries</h3>
<div class="calendar">
  <!--column loop-->
  <div id="time_column">
    <div class="time_title">Time</div>
  <% @slot_times.each do |slot_time|
      %><div class="time_label"><%= slot_time %></div>
    <% end %>
  </div>
  <%

    current_stylist_id = 0
    column_switch = false
    @dayentries.each do |entry|
      if current_stylist_id != entry.stylist_id then
        current_stylist_id = entry.stylist_id
        if !column_switch then
          column_switch = true
        else
          %>
          </div>
        <% end %>
        <div class="column">
          <div class="stylist"><%= entry.stylist.name %></div>
      <%
        end
      %>
      <div class="slot">1</div>
    <% end %>
    </div>
</div>
</body>
</html>
