<p id="notice"><%= notice %></p>
<script type="text/javascript">

//  $("body").click(function(){
//    alert("YESSSS");
//  });

  $(document).ready(function(){
    // window.addEventListener("load", renderGrid, false);
    // window.addEventListener("resize", renderGrid, false);
    // alert('in jquery block')
    renderGrid();
  });

  function renderGrid() {
// get all the blocks/booking entries create by bookings view and position them in right place
// we know that our display is just 900px wide

    // first need to move the overall grid to overlap with background grid
    var grid = document.getElementById("booking_grid")
    var rect = document.getElementById("row7").getBoundingClientRect();
    console.log(rect.top, rect.left);

    grid.style.left = (rect.left + 100)+"px";
    grid.style.top = rect.top +"px";

    var blocks = document.getElementById("booking_grid").children;
    var pad = 10;
    var cols = 9;
    var hours = 12;
    var colleft = 0;
    var coltop = 0;



    // calculate the width of each column
    var colwidth = 100;

    // calculate the height of each 1 hr interval
    var colheight = 50;
    // alert('in rendergrid block');

    // calculate for each block/booking its new left and top values based on tag data values from
    // the HTML elements
    for (var i = 0; i < blocks.length; i++) {
      var stylist_no = blocks[i].dataset.stylist_no * 1;
      var booking_start = blocks[i].dataset.booking_start * 1;
      colleft = (stylist_no - 1) * colwidth;
      coltop = (booking_start - 7) * colheight;
      blocks[i].style.top = coltop + "px";
      blocks[i].style.left = colleft + "px";
    }
  }

</script>
<!--Create the background grid for the calendar booking component-->
<table id="background_grid" cellpadding="0" cellspacing="0">
  <tr>
    <!--avatar row-->
    <!-- empty first column -->
    <th>Time</th>
    <% @booking_columns.times do |column| %>
    <th><%= image_tag(Stylist.find(column+1).image_url) %></th>
    <%	end %>
  </tr>
  <% @booking_hours.times do |hour| %>
      <!-- display teh hours as start time of 7:00 plus hour (of the iteration) and also adjust when get to 12:00 -->
      <% if hour > 5 then %>
      <%    hour -= 5    %>
          <% else %>
      <% hour = hour + 7 %>
          <% end %>
    <tr id="<%= 'row' + hour.to_s %>">
      <td><%= hour.to_s + ":00" %></td>
      <% @booking_columns.times do |column| %>
        <td><%= column %></td>
      <%	end %>
    </tr>
  <% end %>
</table>

<div id="booking_grid">
  <% @bookings.each do |booking| %>
    <% booking_time = booking.date.to_time %>
    <% booking_start = booking_time.hour + booking_time.min / 60; %>

    <div class="booking_entry" id="booking_entry" style = "height: 40px;" data-stylist_no="<%= booking.stylist.id %>" data-booking_start="<%= booking_start %>">
      <div class="booking_item"><%= booking.client.firstName %> </div>
    </div>


    <% end %>

</div>
