<%= form_for(shop_workday) do |f| %>
  <% if shop_workday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop_workday.errors.count, "error") %> prohibited this shop_workday from being saved:</h2>

      <ul>
      <% shop_workday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_id %>
    <%= f.text_field :shop_id %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.text_field :day %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :close_time %>
    <%= f.time_select :close_time %>
  </div>

  <div class="field">
    <%= f.label :open %>
    <%= f.check_box :open %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
